streamlit>=1.25.0
torch==2.0.1+cpu
torchvision==0.15.2+cpu
Pillow
numpy
pyyaml
opencv-python-headless

# Detectron2 wheel pré-compilado compatível com torch+cpu
https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch2.0/index.html
detectron2==0.6
